.m-10-500 {
  font-size: 10px;
  font-weight: 500;
  /* font-family: m; */
}
.sb-10-600 {
  font-size: 10px;
  font-weight: 600;
  /* font-family: sb; */
}
.m-11-500 {
  font-size: 11px;
  font-weight: 500;
  /* font-family: m; */
}
.m-12-400 {
  font-size: 12px;
  font-weight: 400;
  /* font-family: m; */
}
.m-12-500 {
  font-size: 12px;
  font-weight: 500;
  /* font-family: m; */
}
.r-12-500 {
  font-size: 12px;
  font-weight: 500;
  /* font-family: r; */
}
.m-13-500 {
  font-size: 13px;
  font-weight: 500;
  /* font-family: m; */
}
.m-13-600 {
  font-size: 13px;
  font-weight: 600;
  /* font-family: m; */
}
.sb-13-600 {
  font-size: 13px;
  font-weight: 600;
  /* font-family: sb; */
}
.r-14-400 {
  font-size: 14px;
  font-weight: 400;
  /* font-family: r; */
}
.m-14-500 {
  font-size: 14px;
  font-weight: 500;
  /* font-family: m; */
}
.sb-14-600 {
  font-size: 14px;
  font-weight: 600;
  /* font-family: sb; */
}
.m-15-500 {
  font-size: 15px;
  font-weight: 500;
  /* font-family: m; */
}
.sb-15-600 {
  font-size: 15px;
  font-weight: 600;
  /* font-family: sb; */
}
.r-16-400 {
  font-size: 16px;
  font-weight: 400;
  /* font-family: r; */
}
.m-16-500 {
  font-size: 16px;
  font-weight: 500;
  /* font-family: m; */
}
.sb-16-600 {
  font-size: 16px;
  font-weight: 600;
  /* font-family: sb; */
}
.b-16-700 {
  font-size: 16px;
  font-weight: 700;
  /* font-family: b; */
}
.r-18-400 {
  font-size: 18px;
  font-weight: 400;
  /* font-family: r; */
}
.sb-22-600 {
  font-size: 22px;
  font-weight: 600;
  /* font-family: sb; */
}
.sb-25-600 {
  font-size: 25px;
  font-weight: 600;
  /* font-family: sb; */
}
.m-30-500 {
  font-size: 30px;
  font-weight: 500;
  /* font-family: m; */
}
.m-34-500 {
  font-size: 34px;
  font-weight: 500;
  /* font-family: m; */
}
.m-35-500 {
  font-size: 35px;
  font-weight: 500;
  /* font-family: m; */
}
.sb-35-600 {
  font-size: 35px;
  font-weight: 600;
  /* font-family: sb; */
}
